<!--
<nav class="navbar navbar-light bg-light">
{%- if site.show-style-guide %}
    <a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a>
{%- endif %}
</nav>
-->


<!-- fixed-bottom -->

<div class="container-fluid container-footer">
	<div class="container">
		<div class="row d-flex justify-content-center align-items-center justify-content-around">
				<div class="col1-lg">
					<a class="footer_link_1" href="https://gdmgent-1718-nmd2.github.io/1718-nmd2-code-irent-celitett/index.html"><h4 class="Home_footer_link">Home</h4></a>
					<a class="footer_link_2" href="https://gdmgent-1718-nmd2.github.io/1718-nmd2-code-irent-celitett/Info.html"><h4 class="Info_footer_link">Info</h4></a>
					<a class="footer_link_3" href="https://gdmgent-1718-nmd2.github.io/1718-nmd2-code-irent-celitett/Tijdlijn.html"><h4 class="Tijdlijn_footer_link">Tijdlijn</h4></a>
				</div>
				<div class="col2-lg">
					<a class="footer_link_4" href="https://gdmgent-1718-nmd2.github.io/1718-nmd2-code-irent-celitett/Tour.html"><h4 class="tour_footer_link">Tour</h4></a>
					<a class="footer_link_5" href="https://gdmgent-1718-nmd2.github.io/1718-nmd2-code-irent-celitett/Project.html"><h4 class="Project_footer_link">Project</h4></a>
					<a class="footer_link_6" href="https://gdmgent-1718-nmd2.github.io/1718-nmd2-code-irent-celitett/Reserveren.html"><h4>Reserveren</h4></a>
				</div>
			<div class="d-flex justify-content-center align-items-center justify-content-around">
				<div class="foto_paar align-items-center">
					<a class="justify-content-center" href="https://facebook.com" target="blank"><img src="assets/images/foto_facebook.png"></a>
					<a class="justify-content-center" href="https://www.snapchat.com/l/en-gb/" target="blank"><img src="assets/images/foto_spookje.png"></a>
				</div>
				<div class="foto_paar align-items-center">
					<a class="justify-content-center" href="https://twitter.com/?lang=nl" target="blank"><img src="assets/images/foto_twitter.png"></a>
					<a class="justify-content-center" href="https://www.instagram.com/accounts/login/?hl=nl" target="blank"><img src="assets/images/foto_camera.png"></a>
				</div>
			</div>
			<div class="contact justify-content-center align-items-center">
				<h4 class="titel_footer text-center">Contact</h4>
				<p class="text_footer text-center">tel.: 09/648.80.74<br />Schepenhuisstraat<br />17 9000 Gent</p>
			</div>
		</div>
	</div>
</div>